<div class="card" routerLink="/ticket-store">
  <div class="card-body text-center">
    Comprar
  </div>
</div>
<br>
<div class="card" routerLink="/ticket">
  <div class="card-body text-center">
    Verificar ticket
  </div>
</div>
<br>
<div class="card" routerLink="/results">
  <div class="card-body text-center">
    Resultados
  </div>
</div>
<br>
<div class="card" routerLink="/videos">
  <div class="card-body text-center">
    Videos
  </div>
</div>
<br>
<div class="card" routerLink="/messages">
  <div class="card-body text-center">
    Mensajes
  </div>
</div>